@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* resulting css */
  height: 100vh;
  background: rgb(17, 24, 39);
  /* background-image: radial-gradient(
      at 100% 57%,
      hsl(38, 83%, 53%) 0px,
      transparent 50%
    ),
    radial-gradient(at 60% 45%, hsl(212, 33%, 82%) 0px, transparent 50%),
    radial-gradient(at 30% 6%, hsl(299, 93%, 52%) 0px, transparent 50%),
    radial-gradient(at 26% 7%, hsl(56, 94%, 59%) 0px, transparent 50%),
    radial-gradient(at 56% 71%, hsl(254, 94%, 41%) 0px, transparent 50%); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}

.glass {
  position: relative;
  background: rgba(31, 41, 55, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.47);
  border-bottom: 1px solid rgba(31, 41, 55, 0.12);
}

.filter-effect {
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rounded-lgl {
  border-radius: 10px;
}
